name: Scrape Table Sums
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: 25ds3000098@ds.study.iitm.ac.in - Install & Run
      run: |
        npm init -y
        npm i playwright
        npx playwright install --with-deps
        node scrape-sums.js
